# Docker data
docker/volumes/xld/plugins
docker/registry

# use glob syntax.
syntax: glob
.gradle/

# Gradle environment specific properties
gradle.properties

# Build output
*server.zip
build/
out/
target/
bin/
test-output/
.cache
out.yaml

# Maven
pom.xml

# Eclipse
.metadata/
.settings/
.classpath
.project
.pydevproject
.scala_dependencies

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
*.log
s101plugin.state

# Mac
.DS_Store

# Jenkins Docker storage
jenkins_home
docker/xld/plugins

# Sensitive information
secrets.xlvals
deployit-license.lic
xl-release-license.lic

# Possible leftover from a failed build
/release-runner/
/release-fluxcd-integration/
/release-argocd-integration/
/release-xld-integration/
/release-k8s-integration/
