# Connection details for the ArgoCD and Deploy services

argoCdUrl: https://argocd.usw2mgt.dev.digitalai.cloud
argoCdUsername: argocd
argoCdPassword: argocd

deployUrl: http://deploy:4516
deployUsername: admin
deployPassword: admin
