# Connection details for the Deploy service

# TODO if running k3d, use the following deployUrl
#deployUrl: http://host.k3d.internal:4516
# TODO if running docker desktop, use the following deployUrl
#deployUrl: http://host.docker.internal:4516
deployUsername: admin
deployPassword: admin
